html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.slide-form {
  max-height: calc(100% - 30px) !important;
  min-height: calc(100% - 30px) !important;
  max-width: 1340px !important;
}
.stepper-box {
  min-height: 650px;
  max-width: 1340px !important;
}
.slide-form-default {
  width: 60% !important;
}
.v-dialog {
  margin: 0 12px !important;
}
.Twitter {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.Twitter::first-letter {
  font-size: 24px !important;
}
.Twitter-18 {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.Twitter-18::first-letter {
  font-size: 18px !important;
}
.name-initial {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.name-initial::first-letter {
  font-size: 14px !important;
}
.unavilable {
  font-size: 20px;
  border: 2px dashed lightgrey;
}
.unavilableText {
  width: 108px;
}
.fc-icon {
  position: relative;
  bottom: 3px;
}
.uploadFile {
  position: absolute !important;
  z-index: 1;
  top: 18px;
  left: 8px;
}
.participantButton {
  position: absolute !important;
  left: 4px;
}
.cursorPointer {
  cursor: pointer;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.text-break-word {
  overflow-wrap: break-word;
}
.bitpod-logo img {
  max-width: 130px;
}
.wd-full {
  width: 80%;
}
.nav-title {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.nav-subheader {
  font-size: 15px !important;
}
.app-name {
  font-size: 24px;
  font-weight: 300;
}
.headernew {
  left: 0 !important;
}
.appbar-left {
  width: 250px;
}
.nav-drawer {
  display: none !important;
}
.nav-bar {
  top: 55px !important;
}
.nav-bar:hover .nav-drawer {
  display: block !important;
}
.nav-bar .fa {
  font-size: 18px !important;
}
.nav-bar .v-list-item {
  min-height: 44px !important;
  max-height: 44px !important;
}
.nav-bar .v-list-item__action {
  margin: 10px 0 !important;
}
.nav-bar .nav-icon {
  margin-right: 10px !important;
}
.v-list .v-list-item--active {
  color: #1a73e8 !important;
}
.fs-36 {
  font-size: 36px !important;
}
.app-container {
  max-width: 300px;
}
.templateTile {
  max-width: 270px !important;
}
.templateverify {
  max-width: 300px !important;
}
.tileCard {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.tileCard:hover {
  background: #f4f4f4 !important;
  transform: scale(1.04);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.v-data-table__wrapper {
  width: 100%;
}
.app-view {
  min-width: 90px !important;
  max-width: 90px !important;
  min-height: 90px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 10px;
}
.app-view:hover {
  background-color: #f6fafe;
}
.event-tile-left .fa {
  font-size: 24px;
  color: #fff;
}
.v-event-icon .fa {
  font-size: 20px !important;
}
.boxview h2.body-1,
.boxview h2 > .fa,
.box-grey h2.body-1,
.box-grey h2 > .fa {
  color: #3fa5ff !important;
}
.survey-img {
  max-width: 36px !important;
  max-height: 36px !important;
}
.v-application--is-ltr
  .v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr
  > th {
  height: 40px;
  line-height: 40px;
}
.v-application--is-ltr .v-data-footer__select .v-select {
  margin-top: 3px !important;
  margin-bottom: 9px !important;
}
.v-data-table-header-mobile__wrapper {
  flex-direction: row-reverse !important;
}
.v-data-table-header-mobile__select {
  justify-content: flex-end !important;
}
.v-application--is-ltr .v-stepper__label {
  text-align: center !important;
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.v-tickettype .v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px;
}
.event-table .v-text-field.v-text-field--enclosed {
  max-height: 50px !important;
  margin-bottom: 10px !important;
  margin-top: 12px !important;
}
.v-timezone .v-autocomplete.v-input > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.v-text-field--enclosed .v-input__append-inner {
  margin-top: 10px !important;
}
.event-table .v-text-field--enclosed .v-input__append-inner {
  margin-top: 8px !important;
}
.v-timezone .v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-top: 4px !important;
}
.jodit-ui-group {
  flex-wrap: nowrap !important;
}
.event-table tr:hover {
  background: transparent !important;
}
.slide-form-default .col {
  padding-bottom: 0 !important;
}
.event-cards {
  overflow: hidden;
  min-height: 75px;
}
.event-cards:hover {
  overflow-x: auto;
}
.event-datechip {
  box-shadow: 0 2px 10px 0 hsla(120, 4%, 84%, 0.64) inset;
  background-color: hsl(0, 0%, 100%) !important;
}
.boxviewsmall .v-data-table__wrapper {
  overflow-x: hidden !important;
  margin-bottom: 0 !important;
}
.boxview .v-data-table__wrapper {
  overflow-x: hidden !important;
  margin-bottom: 6px;
}
.boxviewsmall:hover .v-data-table__wrapper {
  overflow-x: auto !important;
  margin-bottom: 0 !important;
}
.boxview:hover .v-data-table__wrapper {
  overflow-x: auto !important;
  margin-bottom: 0;
}
.v-application .boxview .v-data-table {
  padding: 0 !important;
}
.contactsGrid {
  overflow: hidden;
  max-height: 500px !important;
  width: 100%;
}
.contactsGrid:hover {
  overflow-y: auto;
}
.tempCard {
  transition: opacity 0.4s ease-in-out;
}
.on-hover {
  opacity: 0.3;
}
.templateButtons {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.positionAbsolute {
  position: absolute !important;
}
.positionRelative {
  position: relative;
}
.borderBottomGrey {
  border-bottom: 1px solid lightgray;
}
.borderRightGrey {
  border-right: 1px solid lightgray;
}
.overflowHidden {
  overflow: hidden;
}
.v-skeleton-loader__bone {
  width: 100% !important;
  height: 100% !important;
}
.invite-form .v-tab {
  min-width: auto !important;
}
.v-navigation-drawer__border {
  display: none !important;
}
.logo-bitpod {
  width: 30px;
  height: 40px;
}
.event-tile {
  height: 60px;
  max-width: 200px;
  min-width: 200px;
}
.event-tile-left {
  width: 75px;
  min-width: 75px;
  height: 60px;
  border-radius: 4px 0 0 4px;
}
.event-tile-right {
  height: 60px;
  min-width: 125px;
  border-radius: 0 4px 4px 0;
}
.event-tile-value {
  font-size: 20px;
}
.mxcol-name {
  max-width: 180px;
}
.mxcol-200 {
  max-width: 200px;
}
.v-stepper__step {
  padding-top: 12px !important;
}
.v-stepper--alt-labels .v-stepper__header .v-divider {
  margin-top: 24px !important;
}
.theme--light.v-stepper .v-stepper__step--editable:hover {
  background: transparent !important;
}
.v-stepper__step__step .v-icon.v-icon {
  font-size: 14px !important;
}
.lookup-tabs .theme--light.v-tabs-items {
  background-color: #f5f5f5;
}
.event-steper .mdi-pencil::before {
  content: '\F012C' !important;
}
.grid-search-section {
  min-height: 52px;
  align-items: center;
}
.slide-form-default .v-input--selection-controls {
  margin-top: 0;
}
.v-chip.v-size--small {
  height: 20px !important;
}
.v-toolbar--flat.v-app-bar--is-scrolled {
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 0 1px 0 rgba(0, 0, 0, 0.1) !important;
}
.event-table .v-messages__message {
  white-space: nowrap !important;
  position: fixed !important;
}
.ps-top6 {
  top: 6px;
}
.grid-actions-container {
  min-height: 52px !important;
  margin-bottom: 20px;
}
.boxview .grid-actions-container {
  margin-bottom: 0 !important;
}
.lookup-tabs .theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.mxw-w70 {
  max-width: 70%;
  width: 70%;
}
.mxw-w30 {
  max-width: 30%;
  width: 30%;
}
.seatmap .container.container--fluid {
  padding: 0 !important;
}
.seatmap .pt-0.col {
  padding-bottom: 0 !important;
}
.small-form {
  min-height: 300px;
}
.seatmap .view-name {
  visibility: hidden !important;
}
.seatmap .theme--light.v-data-table {
  background: transparent !important;
}
.seatmap .v-data-footer {
  width: 65% !important;
  max-width: 65% !important;
  margin: 0 auto !important;
}
.vs-hidden {
  visibility: hidden;
}
.boxview .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.boxview .v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 42px;
}
.event-title {
  max-width: calc(100% - 230px);
}
.istemplate .v-data-footer {
  background: #f5f5f5 !important;
  justify-content: flex-start !important;
  border: none !important;
}
.seatmap-btn .theme--light.v-label {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.v-snack__wrapper {
  min-width: auto !important;
  padding-left: 10px !important;
}
.v-input__icon {
  cursor: pointer;
}
.reg-status .v-chip .v-chip__content {
    min-width: 50px !important;
    text-align: center !important;
    justify-content: center !important;
}
.v-btn__content .v-icon--left, .v-btn__content .v-icon--right {
    font-size: 18px !important;
}
@media (max-width: 800px) {
  .nav-bar {
    top: 0 !important;
  }
}
@media (max-width: 600px) {
  .slide-form,
  .slide-form-default {
    width: 100% !important;
    position: unset !important;
  }
  .app-drawer {
    min-width: fit-content !important;
    left: unset !important;
    right: 20px !important;
  }
  .boxview {
    margin-right: 0 !important;
  }
  .mxw-w70,
  .mxw-w30 {
    width: 100%;
    max-width: 100%;
  }
}
