html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  background: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

.slide-form {
  max-height: calc(100% - 30px) !important;
  min-height: calc(100% - 30px) !important;
  max-width: 1340px !important;
}
.stepper-box {
  min-height: 650px;
  max-width: 1340px !important;
}
.slide-form-default {
  width: 60% !important;
}
.v-dialog {
  margin: 0 12px !important;
}
.Twitter {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.Twitter::first-letter {
  font-size: 24px !important;
}
.Twitter-18 {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.Twitter-18::first-letter {
  font-size: 18px !important;
}
.name-initial {
  font-size: 0 !important;
  text-transform: capitalize !important;
}
.name-initial::first-letter {
  font-size: 14px !important;
}
.unavilable {
  font-size: 20px;
  border: 2px dashed lightgrey;
}
.fc-icon {
  position: relative;
  bottom: 3px;
}
.fc-view-harness-active{
 height: 1160px !important;
}
.uploadFile {
  position: absolute !important;
  z-index: 1;
  top: 18px;
  left: 8px;
}
.participantButton {
  position: absolute !important;
  left: 4px;
}
.cursorPointer {
  cursor: pointer;
}
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-30 {
  font-size: 30px !important;
}
.text-break-word {
  overflow-wrap: break-word;
}
.bitpod-logo img {
  max-width: 130px;
}
.wd-full {
  width: 80%;
}
.nav-title {
  font-size: 15px !important;
  font-weight: 400 !important;
}
.nav-subheader {
  font-size: 15px !important;
}
.app-name {
  font-size: 24px;
  font-weight: 300;
}
.headernew {
  left: 0 !important;
  right: 0 !important;
  z-index: 99 !important;
}
.appbar-left {
  width: auto;
}
.nav-drawer {
  display: none !important;
}
.nav-bar {
  top: 55px !important;
}
.nav-bar:hover .nav-drawer {
  display: block !important;
}
.nav-bar .fa {
  font-size: 18px !important;
}
.nav-bar .v-list-item {
  min-height: 44px !important;
  max-height: 44px !important;
}
.nav-bar .v-list-item__action {
  margin: 10px 0 !important;
}
.nav-bar .nav-icon {
  margin-right: 10px !important;
}
.v-list .v-list-item--active {
  color: #1a73e8 !important;
}
.fs-36 {
  font-size: 36px !important;
}
.app-container {
  max-width: 300px;
}
.templateTile {
  max-width: 270px !important;
}
.templateverify {
  max-width: 300px !important;
}
.tileCard {
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.tileCard:hover {
  background: #f4f4f4 !important;
  transform: scale(1.04);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
}
.v-data-table__wrapper {
  width: 100%;
}
.app-view {
  min-width: 90px !important;
  max-width: 90px !important;
  min-height: 90px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding-top: 10px;
}
.app-view:hover {
  background-color: #f6fafe;
}
.event-tile-left .fa {
  font-size: 24px;
  color: #fff;
}
.v-event-icon .fa {
  font-size: 20px !important;
}
.boxview h2.body-1,
.boxview h2 > .fa,
.box-grey h2.body-1,
.box-grey h2 > .fa {
  color: #3fa5ff !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.survey-img {
  max-width: 36px !important;
  max-height: 36px !important;
}
.v-application--is-ltr
  .v-data-table
  > .v-data-table__wrapper
  > table
  > thead
  > tr
  > th {
  height: 40px;
  line-height: 40px;
}
.v-application--is-ltr .v-data-footer__select .v-select {
  margin-top: 3px !important;
  margin-bottom: 9px !important;
}
.v-data-table-header-mobile__wrapper {
  flex-direction: row-reverse !important;
}
.v-data-table-header-mobile__select {
  justify-content: flex-end !important;
}
.v-application--is-ltr .v-stepper__label {
  text-align: center !important;
  white-space: nowrap;
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.v-tickettype .v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px;
}
.event-table .v-text-field.v-text-field--enclosed {
  max-height: 50px !important;
  margin-bottom: 10px !important;
  margin-top: 12px !important;
}
.v-timezone .v-autocomplete.v-input > .v-input__control > .v-input__slot {
  min-height: 40px !important;
}
.v-text-field--enclosed .v-input__append-inner {
  margin-top: 10px !important;
}
.event-table .v-text-field--enclosed .v-input__append-inner {
  margin-top: 8px !important;
}
.v-timezone .v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-top: 4px !important;
}
.jodit-ui-group {
  flex-wrap: nowrap !important;
}
.event-table tr:hover {
  background: transparent !important;
}
.slide-form-default .col {
  padding-bottom: 0 !important;
}
.event-cards {
  overflow: hidden;
  min-height: 75px;
}
.event-cards:hover {
  overflow-x: auto;
}
.event-datechip {
  box-shadow: 0 2px 10px 0 hsla(120, 4%, 84%, 0.64) inset;
  background-color: hsl(0, 0%, 100%) !important;
}
.boxviewsmall .v-data-table__wrapper {
  overflow-x: hidden !important;
  margin-bottom: 0 !important;
}
.boxview .v-data-table__wrapper {
  overflow-x: hidden !important;
  margin-bottom: 6px;
}
.boxviewsmall:hover .v-data-table__wrapper {
  overflow-x: auto !important;
  margin-bottom: 0 !important;
}
.boxview:hover .v-data-table__wrapper {
  overflow-x: auto !important;
  margin-bottom: 0;
}
.v-application .boxview .v-data-table {
  padding: 0 !important;
}
.contactsGrid {
  overflow: hidden;
  max-height: 500px !important;
  width: 100%;
}
.contactsGrid:hover {
  overflow-y: auto;
}
.tempCard {
  transition: opacity 0.4s ease-in-out;
}
.on-hover {
  opacity: 0.3;
}
.seatmap-inner .on-hover {
  opacity: 1;
}
.templateButtons {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}
.positionAbsolute {
  position: absolute !important;
}
.positionRelative {
  position: relative;
}
.borderBottomGrey {
  border-bottom: 1px solid lightgray;
}
.borderRightGrey {
  border-right: 1px solid lightgray;
}
.overflowHidden {
  overflow: hidden;
}
.invite-form .v-tab {
  min-width: auto !important;
}
.v-navigation-drawer__border {
  display: none !important;
}
.logo-bitpod {
  width: 30px;
  height: 40px;
}
.event-tile {
  height: 60px;
  max-width: 200px;
  min-width: 200px;
}
.event-tile-left {
  width: 75px;
  min-width: 75px;
  height: 60px;
  border-radius: 4px 0 0 4px;
}
.event-tile-right {
  height: 60px;
  min-width: 125px;
  border-radius: 0 4px 4px 0;
}
.event-tile-value {
  font-size: 20px;
}
.mxcol-150 {
  max-width: 150px;
}
.mxcol-name {
  max-width: 180px;
}
.mxcol-200 {
  max-width: 200px;
}
.v-stepper__step {
  padding-top: 12px !important;
}
.v-stepper--alt-labels .v-stepper__header .v-divider {
  margin-top: 24px !important;
}
.theme--light.v-stepper .v-stepper__step--editable:hover {
  background: transparent !important;
}
.v-stepper__step__step .v-icon.v-icon {
  font-size: 14px !important;
}
.lookup-tabs .theme--light.v-tabs-items {
  background-color: #f5f5f5;
}
.event-steper .mdi-pencil::before {
  content: '\F012C' !important;
}
.grid-search-section {
  min-height: 52px;
  align-items: center;
}
.slide-form-default .v-input--selection-controls {
  margin-top: 0;
}
.v-chip.v-size--small {
  height: 20px !important;
}
.v-toolbar--flat.v-app-bar--is-scrolled {
  box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1),
    0 0 1px 0 rgba(0, 0, 0, 0.1) !important;
}
.event-table .v-messages__message {
  white-space: nowrap !important;
  position: absolute !important;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.v-messages__message {
  padding-top: 2px !important;
}
.ps-top6 {
  top: 9px;
}
.grid-actions-container {
  min-height: 52px !important;
  margin-bottom: 20px;
}
.boxview .grid-actions-container {
  margin-bottom: 0 !important;
}
.lookup-tabs .theme--light.v-tabs > .v-tabs-bar {
  background-color: transparent !important;
}
.mxw-w70 {
  max-width: 70%;
  width: 70%;
}
.mxw-w30 {
  max-width: 30%;
  width: 30%;
}
.seatmap .container.container--fluid {
  padding: 0 !important;
}
.seatmap .pt-0.col {
  padding-bottom: 0 !important;
}
.small-form {
  min-height: 300px;
}
.seatmap .view-name {
  visibility: hidden !important;
}
.seatmap .theme--light.v-data-table {
  background: transparent !important;
}
.seatmap .v-data-footer {
  width: 65% !important;
  max-width: 65% !important;
  margin: 0 auto !important;
}
.vs-hidden {
  visibility: hidden;
}
.recurring-event .vs-hidden {
  display: none;
}
.boxview .v-expansion-panel-content__wrap {
  padding: 0 !important;
}
.boxview .v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 42px;
}
.event-title {
  max-width: calc(100% - 230px);
}
.istemplate .v-data-footer {
  background: #f5f5f5 !important;
  justify-content: flex-start !important;
  border: none !important;
}
.seatmap-btn .theme--light.v-label {
  color: rgba(0, 0, 0, 0.87) !important;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.v-snack__wrapper {
  min-width: auto !important;
  padding-left: 10px !important;
}
.v-input__icon {
  cursor: pointer;
}
.reg-status .v-chip .v-chip__content {
    min-width: 50px !important;
    text-align: center !important;
    justify-content: center !important;
}
.v-btn__content .v-icon--left, .v-btn__content .v-icon--right {
    font-size: 18px !important;
}
.custom-date-time-picker .v-input input {
  cursor: pointer !important;
}
.v-grid th.text-start.sortable span {
    white-space: nowrap;
    width: calc(100% - 50px);
    min-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    float: left;
}
.v-application--is-rtl .attendeeCount {
  left: 10px;
  right: unset !important;
}
.v-application--is-rtl .dataTile .pl-2 {
  padding-right: 8px !important;
}
.v-application--is-rtl .dataTile > div {
  left: 0px !important;
}
.v-application--is-rtl .white.d-inline-block.elevation-2.rounded.mr-5 .pl-4 {
  padding-right: 16px !important;
}
.v-application--is-rtl .summaryTile {
  padding-right: 8px !important;
}
.v-application--is-rtl .slide-form-default .v-card__title {
  padding-right: 40px !important; 
}
.v-application--is-rtl .slide-form .v-card__title {
  padding-right: 40px !important; 
}
.parentWidth h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detailview-head {
  min-height: 52px;
}
.back-icon {
  position: relative;
  top: -2px;
}
.braek-all {
 word-break: break-all !important;
} 
.event-tags::after {
  content: ', ';
}
.event-tags:last-child::after {
  content: '';
}
.custom-nav-drawer {
  visibility: visible;
  transform: translateX(0%) !important;
}
.custom-nav-main {
  padding-left: 240px !important;
}
.slide-form .v-slide-group__prev--disabled {
    display: none !important;
}
.boxview .v-data-table-header-mobile {
    display: none !important;
}
.elevation-0.v-grid .v-data-table-header-mobile {
    display: none !important;
}
.st-date {
  max-width: 125px !important;
  min-width: 125px !important;
  box-sizing: border-box;
}
.event-timezone {
  max-width: 160px !important;
  min-width: 160px !important;
  box-sizing: border-box;
}
.seatmap .grid-actions-container {
    min-height: auto !important;
    margin-bottom: 0;
}
.key-date {
  height: 42px;
  align-items: center;
  display: flex;
}
table > tbody > tr:last-child .key-align {
  margin-top: 5px;
  margin-bottom: 20px;
}
.public-page-main .v-skeleton-loader__bone {
  width: 100% !important;
  height: 100% !important;
}
.seat-skeleton-inner {
  max-width: 65%;
  margin: 0 auto;
}
.grid-actions-spread .v-list-item {
  padding: 0 !important;
}
.wrap-word-normal {
  white-space: normal;
}
.service-text {
  min-height: 24px;
}
.slide-form-default h2, .slide-form h2 {
  width: calc(100% - 50px);
}
.slide-form-default .v-input__append-inner, .slide-form .v-input__append-inner {
  cursor: pointer;
}
.logofull {
  min-width: 110px !important;
  max-width: 110px !important;
}
@media (max-width: 800px) {
  .nav-bar {
    top: 50px !important;
  }
  .participantButton {
    font-size: 16px !important;
    padding-top: 6px !important;
  }
  .fc-header-toolbar {
    display: block !important;
  }
  .eventBox {
    font-size: 10px !important;
    line-height: 10px !important;
  }
  .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
    display: block !important;
    max-width: 100px !important;
    white-space: normal !important;
  }
  .v-stepper--alt-labels .v-stepper__step {
      flex-basis: 140px !important;
  }
  .event-steper .v-stepper__header {
      position: relative !important;
      left: 25px !important;
      box-shadow: none !important;
  }
}
@media (max-width: 600px) {
  .v-tooltip__content {
    display: none !important;
  }
  .slide-form,
  .slide-form-default {
    width: 100% !important;
    position: unset !important;
  }
  .app-drawer {
    min-width: fit-content !important;
    left: unset !important;
    right: 20px !important;
  }
  .boxview {
    margin-right: 0 !important;
  }
  .mxw-w70,
  .mxw-w30 {
    width: 100%;
    max-width: 100%;
  }
  #res-tables thead.e-thead,
	#res-tables tbody.e-tbody,
	#res-tables th.e-th,
	#res-tables td.e-td,
	#res-tables tr.e-tr {
		display: block;
  }
  #res-tables tr.e-tr {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: relative;
    right: 0;
    padding-top: 20px;
  }
  #res-tables thead.e-thead tr.e-tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #res-tables td.e-td {
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-left: 35%;
    white-space: normal;
    text-align: left;
    min-height: 72px;
  }
  #res-tables td.e-td::before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 35%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }
  .st-date, .event-timezone {
    max-width: 100% !important;
  }
  span.event-datechip.v-size--small {
    height: auto !important;
    white-space: normal;
  }
  .seatmap .container.container--fluid {
    padding: 12px !important;
  }
  .box-actions {
    display: block;
  }
  .seatmap-inner {
    max-width: 100%;
  }
  .event-title {
    max-width: 100%;
    overflow-wrap: break-word;
  }
  .roles-view {
    white-space: nowrap;
    max-width: 200px;
    height: 50px;
    overflow: auto;
    overflow-y: hidden;
  }
  .roles-view::-webkit-scrollbar {
    display: none;
  }
  .grid-actions-container {
    margin-top: -42px;
  }
  .min-h36 {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .grid-search-input {
    max-width: 120px !important;
  }
  .filter-btn > span span {
    display: none;
  }
  .seat-skeleton-inner {
    max-width: 100%;
  }
}
